$green: #00B26C;
$blue: #00B9F2;
$pink: #ED3193;
$yellow: #FFF453;
$purple: #593A96;
$red: #F22F46;
.green { background-color: $green;}
.blue { background-color: $blue; }
.pink { background-color: $pink; }
.yellow { background-color: $yellow; }
.purple { background-color: $purple; }
.red { background-color: $red; }
html, body, .viewport {
    
    margin: 0;
}
.accent {
    width: 200px;
    height: 200px;
    opacity:0.2;
    margin:auto;
    background-color:white;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index:4;
    border-radius:50%;
    float: left;
    &.live {
        -webkit-transform: scale(6);
        transform: scale(6);
        opacity:1;
    }
}
.logo {
    display: block;
    text-indent: -9999px;
    width: 300px;
    height: 300px;
    background: url(/img/twilio-logo-white.svg);
    background-size: 300px;
    left: 35%;
    position: absolute;
    top: 8%;
}

.play-button-outer {
    margin: 63% auto;
    width: 10em;
    height: 10em;
    background-color: rgba(222,222,222,0.25);
    cursor: pointer;
    border-radius: 50%;
    .play-button {
        margin: 0 auto;
        top: 25%;
        position: relative;  
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2.5em 0 2.5em 4em;
        border-color: transparent transparent transparent #fff;
        opacity: .75;
        left:5%;
    }
    &:hover {
        background-color: rgba(0, 0, 0, .5);
        .play-button {
            opacity: 1;
        }
    }
}
.card {
    height: 100vh;
    width: 100vw;
    position:absolute;
    background-color:#333333;
    cursor:pointer;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    .media {
        min-width: 0;
        margin: 45px;
        display: block;
        width: 100vw;
        text-align: center;
    }
    &.start {
        font-size:3em;
        color:white;
        background-color:red;
        z-index: 1001;
        bottom: 100vh;
        &.live {
            bottom:0px;
        }
    }
    &.qrcode {
        z-index:1000;
        bottom:100vh;
    }
    img {
        -webkit-filter: invert(1);
        filter: invert(1);
        width: 20em;
        max-width: 100vw;
        max-height: 20em;
    }
    
    audio {
        position: relative;
        top: 50%;
        left: 37%;
        display:block;
    }
    h2 {
        display: block;
        font-size: 8em;
        font-family: helvetica;
        color: white;
        margin:0px;
        text-align: center;
        width: 100%;
    }
}
.action {
    &.live {
        background-color:aquamarine;
        &._ {
            background-color:lightblue;
        }
        &.a, &.b{
            background-color:$blue;
        }
        &.d, &.e, &.f  {
            background-color:darken($blue, 10);
        }
        &.h, &.i, &.j  {
            background-color:$pink;
        }
        &.l, &.m, &.n  {
            background-color:$yellow;
        }
        &.o, &.p {
            background-color:darken($yellow, 10);
        }
        &.q, &.r  {
            background-color: $purple;
        }
        &.s, &.t {
            background-color: darken($purple, 10);
        }
        &.u, &.v  {
            background-color:$green;
        }
        &.w, &.x  {
            background-color:$red;
        }
        &.y, &.z {
            background-color:darken($red, 10);
        }
        &.c {
            background-color:aquamarine;
        }

        
    }
}
#controls {
    z-index:2;
    
}
.button {
    padding:1em 0em;
    font-size:3em;
    border-radius:0;
}
#log {
    width: 100%;
    position: fixed;
    top: 0px;
    text-align: center;
    color: black;
    z-index:5;
    p {
        display: inline;
        margin: 10px;
        font-family: sans-serif;
        font-size: 0.5em;
    }
}
.hidden {
    visibility: hidden;
}
.vbox {
    /* previous syntax */
    display: -webkit-box;
    display:    -moz-box;
    display:         box;

    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
            box-orient: vertical;

    /* current syntax */
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
} 

  /* items flex/expand horizontally */
.hbox {
    /* previous syntax */
    display: -webkit-box;
    display:    -moz-box;
    display:     -ms-box;
    display:         box;

    -webkit-box-orient: horizontal;
       -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
            box-orient: horizontal;

    /* current syntax */
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.space-between {
    /* previous syntax */
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-box-pack: justify;
            box-pack: justify;

    /* current syntax */
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
        -ms-justify-content: space-between;
            justify-content: space-between;
}
.main {
    /* previous syntax */
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-box-flex: 1;
            box-flex: 1;

    /* current syntax */
    -webkit-flex: 1;
       -moz-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.grid-sq {
    /* previous syntax */
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-box-flex: 1;
            box-flex: 1;

    /* current syntax */
    -webkit-flex: 1;
       -moz-flex: 1;
        -ms-flex: 1;
            flex: 1;

    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    p {
        margin: auto;
        text-align: center;
        font-family: sans-serif;
        color: rgba(255,255,255,0.3);
        font-weight: bold;
        line-height: 7em;
        font-size: 3em;
    }
}

.grid-sq.big {
    transform: scale(3);
    z-index: 1;
}
