<!DOCTYPE html>
<html>
<head>
  <title>Play/Record</title>
  <link rel="stylesheet" href="/css/controls.css">

</head>
<svg viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="100%" fill="#312F2D"/>
  <circle cx="400" cy="400" r="30" fill="#ff6347" stroke="#ff6347" stroke-width="3"/>
  
  
</svg>



<?xml version="1.0"?>
<svg class="orbit1" viewBox="-300 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">


  <path d="M0,60 
        A60,60,0 1 1 200,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath"/>
  

  <circle cx="" cy="" r="9" fill="#698b69">
    <animateMotion dur="4s" begin="indefinite">
      <mpath xlink:href="#theMotionPath"/>
    </animateMotion>
  </circle>
</svg>



<?xml version="1.0"?>
<svg class="orbit2" viewBox="-270 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 260,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath2"/>
  <circle cx="" cy="" r="11" fill="#b4eeb4">
    <animateMotion dur="8s" begin="indefinite" repeatCount="indefinite">
      <mpath xlink:href="#theMotionPath2"/>
    </animateMotion>
  </circle>
</svg>


<?xml version="1.0"?>
<svg class="orbit3" viewBox="-240 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 320,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath3"/>
  <circle cx="" cy="" r="12" fill="#cdbe70">
    <animateMotion dur="11s" begin="indefinite">
      <mpath xlink:href="#theMotionPath3"/>
    </animateMotion>
  </circle>
</svg>


<?xml version="1.0"?>
<svg class="orbit4" viewBox="-210 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 380,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath4"/>
  <circle cx="" cy="" r="14" fill="#cd3278">
    <animateMotion dur="5s" begin="indefinite">
      <mpath xlink:href="#theMotionPath4"/>
    </animateMotion>
  </circle>
</svg>


<?xml version="1.0"?>
<svg class="orbit5" viewBox="-180 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 440,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath5"/>
  <circle cx="" cy="" r="10" fill="#87ceff">
    <animateMotion dur="10s" begin="indefinite">
      <mpath xlink:href="#theMotionPath5"/>
    </animateMotion>
  </circle>
</svg>

<?xml version="1.0"?>
<svg class="orbit6" viewBox="-150 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 500,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath6"/>
  <circle cx="" cy="" r="10" fill="#ffec8b">
    <animateMotion dur="25s" begin="indefinite">
      <mpath xlink:href="#theMotionPath6"/>
    </animateMotion>
  </circle>
</svg>


<?xml version="1.0"?>
<svg class="orbit7" viewBox="-120 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 560,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath7"/>
  <circle cx="" cy="" r="15" fill="#f08080">
    <animateMotion dur="15s" begin="indefinite" repeatCount="indefinite">
      <mpath xlink:href="#theMotionPath7"/>
    </animateMotion>
  </circle>
</svg>


<?xml version="1.0"?>
<svg class="orbit8" viewBox="-90 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 620,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath8"/>
  <circle cx="" cy="" r="8" fill="#cdb7b5">
    <animateMotion dur="9s" begin="indefinite">
      <mpath xlink:href="#theMotionPath8"/>
    </animateMotion>
  </circle>
</svg>

<?xml version="1.0"?>
<svg class="orbit9" viewBox="-60 -340 800 800"
    xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
  <path d="M0,60 
        A60,60,0 1 1 680,60 
        A60,60,0 1 1 0,60 
        Z"
      stroke="#cdc9c9" stroke-width="1" 
      fill="none" id="theMotionPath9"/>
  <circle cx="" cy="" r="12" fill="#436eee">
    <animateMotion dur="29s" begin="indefinite">
      <mpath xlink:href="#theMotionPath9"/>
    </animateMotion>
  </circle>
</svg>

<svg viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">

  
  <circle cx="800" cy="170" r="50" fill="none" stroke="#b0c4de" stroke-width="3"/> 
  
  <circle cx="800" cy="170" r="30" fill="#b0c4de" stroke="#b0c4de" stroke-width="3"/>  
  
  <rect x="660" y="-310" width='15' height='240' stroke="#b0c4de" fill="#b0c4de" transform='rotate(43 140 105)'  />
  <rect x="569" y="-242" width='15' height='50' stroke="#b0c4de" fill="#b0c4de" transform='rotate(63 140 105)'  />
  
  <rect x="550" y="-192" width='55' height='90' stroke="#b0c4de" fill="#b0c4de" transform='rotate(63 140 105)'  />
  

  
</svg>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/ScrubGSAPTimeline_debug.js"></script>
<script src="/js/controls.js"></script>
</html>