<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/img/favicon_57.png"/>
	<link rel="apple-touch-icon" href="/img/favicon_57.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon_72.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon_114.png"/>
	<link rel="stylesheet" href="/css/onsen-ncm-theme/onsen-css-components.min.css" />
	<link rel="stylesheet" href="/css/onsen-ncm-theme/theme.css" />
  	<!-- Mobi.css -->
	<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
	<!-- Add plugins as you like -->
	<link rel="stylesheet" href="https://unpkg.com/mobi-plugin-color/dist/mobi-plugin-color.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NCM & Twilio</title>
</head>