<%- include('header') -%>
<body >
    <a href="/genre/World" class="button--large--cta" style="width: 95%; margin: 20px auto;">Children's Default</a>
    <a href="/genre/HipHop" class="button--large--cta" style="width: 95%; margin: 20px auto;">Hip Hop</a>
    <a href="/secure/play/HipHop" class="button--large--quiet" style="width: 95%; margin: 20px auto;">HipHop Admin</a>
    <a href="/secure/play/World" class="button--large--quiet" style="width: 95%; margin: 20px auto;">World Admin</a>
    <a href="/secure/admin" class="button--large" style="width: 95%; margin: 20px auto;">Admin</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/bell.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {
      
    });
  </script>
</body>
</html>