<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/img/favicon_57.png"/>
  <link rel="apple-touch-icon" href="/img/favicon_57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon_72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon_114.png"/>
  <title>NCM & Twilio</title>
  <link rel="stylesheet" href="/css/bell.css">
</head>
<body class="vbox viewport">
  <div class="menu card">
    <a href="/genre/World">Children's Default</a>
    <a href="/genre/HipHop">Hip Hop</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/bell.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {
      
    });
  </script>
</body>
</html>