<%- include('header') -%>
<div class="scrollable">
<ul class="list">
  <% notes.forEach(function(note) { %>
      <a href="/sound/<%=genre%>/<%=note%>" class="list-item">
        <span class="list-item__center"><%= note %></span>
      </a>
  <% }) %>
</ul>
</div>
</body>
</html>