<%- include('header') -%>
<body style="background-color:#f7f6f6;">
<div style="padding: 1px 0 0 0;">
  <div class="card">
    <h2 class="card__title">Song Sent!</h2>
    <div class="card__content">Thanks for playing along with Twilio and The New Children's Museum. To learn more about Twilio and see the code that made this app click here! <a href=" http://twilio.com/sms" target="_blank" class="button button--large"> See The Code </a></div>
  </div>
</div>
</body>
</html>